@media only screen and (max-width: 500px) {

    /*-------------inicio-------------*/

    .s-inicio {
        height: 55vw;
        background-size: 150% ;
        background-position: -7vw -80px;
        opacity: 10%;
    }

    .s-conteudo {
        padding-top: 65px;
    }

    .inicio-txt {
        margin-top: 10%;
    }

    .inicio-titulo {
        font-size: 10vw;
    }

    .inicio-subtitulo {
        font-size: 4vw;
    }

    .inicio-subtitulo span {
        font-size: 4.5vw;
    }

    /*-------------sobre-------------*/

    .s-sobre {
        padding: 15% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sobre-img {
        width: 100%;
        margin-top: 3vw;
    }

    .elipse {
        width: 60vw;
        height: 60vw;
        margin: 0 auto;
    }

    .img-perfil {
        width: 97%;
    }

    .sobre-texto {
        width: 80%;
        font-size: 4.5vw;
        margin-left: 5px;
    }

    .s-titulo {
        font-size: 6vw;
        margin-top: 10%;
        margin-left: 5%;
    }

    .ponto-titulo-sobre {
        width: 1.8vw;
        height: 1.8vw;
        margin-top: 3%;
        margin-left: -5%;
    }

    /*-----------projetos-----------*/


    .projetos-titulo {
        width: 70%;
        height: 3vw;
        border-top: 2px solid #00ffff;
        margin: 13vw auto;
        margin-bottom: 0;
    }

    .projetos-titulo div {
        width: 27vw;
        margin: -4.3vw auto;
        font-size: 6vw;
    }

    .tecnologias-titulo {
        font-size: 5vw;
        margin-top: 6vw;
    }

    .tecnologias {
        margin-top: 6vw;
    }

    .tecnologias img {
        height: 10vw;
        margin: auto 3%;
    }

    /*-----------contatos-----------*/

    .s-contatos {
        margin-top: 6vw;
        padding: 10% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contatos-redes {
        width: 95%;
        padding-top: 2.7vw;
    }

    .redes-item {
        margin-bottom: 6vw;
        margin-left: 12vw;
        display: flex;
        cursor: pointer;
        display: flex;
        flex-direction: column;
    }

    .redes-item a {
        font-size: 6vw;
        transition: 0.5s;
        text-decoration: none;
    }

    .redes-item a:hover {
        padding-left: 0;
    }

    .redes-item i {
        font-size: 8vw;
        padding-right: 2.5vw;
    }

    #mail {
        font-size: 6.5vw;
        padding-right: 2.3vw;
    }#mail-text{
        font-size: 5vw;
    }

    .contatos-form {
        width: 100%;
        text-align: center;
        padding-top: 2vw;
    }

    .ponto-titulo-contato {
        width: 1.8vw;
        height: 1.8vw;
        margin-top: 3%;
        margin-left: 8%;
    }

    .contato-form-titulo {
        font-size: 6vw;
        font-weight: 400;
        margin-top: 5%;
        margin-left: 5%;
    }

    .contatos-form input,
    textarea {
        margin-top: 5%;
        width: 70%;
        padding: 2.5% 5%;
        outline: 0;
        border: 2px solid transparent;
        font-weight: 0;
        font-size: 4.5vw;
        border-radius: 5px;
    }

    .contatos-form button {
        margin-top: 5%;
        width: 80%;
        padding: 2vw 0;
        outline: 0;
        font-size: 5.5vw;
        border-radius: 3px;
        border: 2px solid #BAD2E3;
        cursor: pointer;
        transition: 0.2s;
    }

    /*-----------carreira-----------*/

    .s-carreira {
        margin-top: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .carreira-divisao {
        display: none;
    }

    .carreira-titulo {
        font-size: 7vw;
        margin-top: 10%;
        font-weight: 100;
        margin-bottom: -1vw;
    }

    .carreira-left {
        width: 90%;
        padding-left: 5%;
    }

    .formacao-item {
        margin-top: 8vw;
        margin-left: 0;
    }

    .formacao-item img {
        width: 17vw;
        margin: auto 0;
        border-radius: 3px;
        margin-right: 3vw;
    }

    .formacao-item-titulo {
        font-size: 5vw;
        font-weight: 100;
    }

    .formacao-item-curso {
        font-size: 4.3vw;
        font-weight: 300;
        margin-top: 0.1vw;
    }

    .formacao-item-periodo {
        font-size: 4.3vw;
        font-weight: 500;
    }

    .cursos {
        margin-top: 2vw;
    }

    .cursos-item {
        margin-top: 8vw;
        margin-left: 0;
    }

    .cursos-item-titulo {
        font-size: 6vw;
        font-weight: 100;
    }

    .cursos-item-curso {
        font-size: 6vw;
        font-weight: 300;
        margin-top: 2vw;
    }

    .cursos-item-periodo {
        font-size: 5vw;
        font-weight: 500;
        margin-top: 2vw;
    }

    .carreira-right {
        width: 90%;
        padding-left: 5%;
    }

    .experiencia-titulo {
        font-size: 7vw;
        margin-top: 10%;
        margin-left: 0;
        margin-bottom: -1vw;
    }

    .experiencia-item {
        margin-top: 7vw;
        margin-left: 0;
    }

    .experiencia-item-titulo {
        font-size: 5vw;
        font-weight: 500;
    }

    .experiencia-item-curso {
        font-size: 4.5vw;
        font-weight: 300;
        margin-top: 1.5vw;
    }

    .experiencia-item-periodo {
        font-size: 4.5vw;
        font-weight: 500;
        margin-top: 2vw;
        color: #4E98CD;
    }

    .experiencia-item-descricao {
        font-size: 4.5vw;
        margin-top: 2vw;
    }

    /*-----------footer-----------*/

    .s-footer {
        text-align: center;
        width: 100%;
        margin-top: 13vw;
    }

    .footer-legenda {
        background-color: #03141B;
        font-size: 4vw;
        padding: 4vw;
        font-weight: 300;
    }

    .footer-legenda a {
        color: #4E98CD;
        text-decoration: none;
    }

    .footer-frase {
        padding-top: 4vw;
        padding-bottom: 6vw;
        font-size: 4.5vw;
        background-color: #00223A;
    }

    .footer-frase b {
        font-size: 5vw;
    }

}