@media only screen and (max-width: 500px) {

    /*--.-----------inicio-------------*/

    .s-inicio {
        width: 100%;
        height: 55vw;
        margin-top: 30px;
        background-image: url(../img/coding.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 150% ;
        background-position: -7vw -80px;
        opacity: 10%;
    }

    .s-conteudo {
        padding-top: 65px;
        position: absolute;
        top: -1px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .inicio-txt {
        color: #fff;
        text-align: center;
        margin: auto;
        margin-top: 10%;
    }

    .inicio-titulo {
        font-size: 10vw;
    }

    .inicio-subtitulo {
        font-size: 4vw;
        margin-top: 1%;
    }

    .inicio-subtitulo span {
        font-size: 4.5vw;
    }

    /*-------------sobre-------------*/

    .s-sobre {
        padding: 5% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sobre-img {
        width: 100%;
        margin-top: 3vw;
    }

    .elipse {
        width: 60vw;
        height: 60vw;
        margin: 0 auto;
        border-radius: 100%;
        background-color: #00ffff22;
    }

    .img-perfil {
        width: 96%;
        border-radius: 100%;
    }

    .sobre-texto {
        width: 80%;
        height: 100%;
        color: #ffffff;
        font-size: 4.5vw;
        padding-top: 0.4%;
    }

    .s-titulo {
        font-size: 6vw;
        margin-top: 10%;
        margin-left: 5%;
    }

    .ponto-titulo-sobre {
        width: 1.8vw;
        height: 1.8vw;
        margin-top: 3%;
        margin-left: -5%;
    }

    /*-----------projetos-----------*/


    .projetos-titulo {
        width: 70%;
        height: 3vw;
        border-top: 2px solid #00ffff;
        margin: 13vw auto;
        margin-bottom: 0;
    }

    .projetos-titulo div {
        width: 27vw;
        margin: -4.3vw auto;
        font-size: 6vw;
    }

    .tecnologias-titulo {
        font-size: 5vw;
        margin-top: 2vw;
    }

    .tecnologias {
        margin-top: 4vw;
    }

    .tecnologias img {
        height: 10vw;
        margin: auto 3%;
    }

    /*-----------contatos-----------*/

    .s-contatos {
        margin-top: 6vw;
        padding: 10% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contatos-redes {
        width: 95%;
        padding-top: 2.7vw;
    }

    .redes-item {
        margin-bottom: 6vw;
        margin-left: 12vw;
        display: flex;
        cursor: pointer;
        display: flex;
        flex-direction: column;
    }

    .redes-item a {
        font-size: 6vw;
        color: #fff;
        font-family: Roboto, Helvetica Neue, sans-serif;
        transition: 0.5s;
        text-decoration: none;
    }

    .redes-item a:hover {
        color: #00ffff;
        padding-left: 0;
    }

    .redes-item i {
        font-size: 8vw;
        padding-right: 2.5vw;
    }

    #mail {
        font-size: 6.5vw;
        padding-right: 2.3vw;
    }#mail-text{
        font-size: 5vw;
    }

    .contatos-form {
        width: 100%;
        text-align: center;
        padding-top: 2vw;
    }

    .ponto-titulo-contato {
        width: 1.8vw;
        height: 1.8vw;
        margin-top: 3%;
        margin-left: 8%;
    }

    .contato-form-titulo {
        font-size: 6vw;
        font-weight: 400;
        margin-top: 5%;
        margin-left: 5%;
    }

    .contatos-form input,
    textarea {
        margin-top: 5%;
        width: 70%;
        padding: 2.5% 5%;
        outline: 0;
        background-color: #0A303F;
        border: 2px solid transparent;
        color: #fff;
        font-family: Roboto, Helvetica Neue, sans-serif;
        font-weight: 0;
        font-size: 4.5vw;
        border-radius: 5px;
    }

    .contatos-form input:focus {
        border: 1.8px solid #BAD2E3;
    }

    .contatos-form textarea:focus {
        border: 1.8px solid #BAD2E3;
    }


    .contatos-form button {
        margin-top: 5%;
        width: 80%;
        padding: 2vw 0;
        outline: 0;
        background-color: #0A303F;
        color: #BAD2E3;
        font-family: Roboto, Helvetica Neue, sans-serif;
        font-size: 5.5vw;
        border-radius: 3px;
        border: 2px solid #BAD2E3;
        cursor: pointer;
        transition: 0.2s;
    }

    .contatos-form button:hover {
        background-color: #125068;
        border-color: #fff;
        color: #fff;
    }

    /*-----------carreira-----------*/

    .s-carreira {
        margin-top: 0;
        font-family: Roboto, Helvetica Neue, sans-serif;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .carreira-divisao {
        display: none;
    }

    .carreira-titulo {
        font-size: 7vw;
        margin-top: 10%;
        font-weight: 100;
        margin-bottom: -1vw;
    }

    .carreira-left {
        width: 90%;
        padding-left: 5%;
    }

    .formacao-item {
        margin-top: 8vw;
        margin-left: 0;
        display: flex;
        color: #D9D9D9;
    }

    .formacao-item img {
        width: 17vw;
        margin: auto 0;
        border-radius: 3px;
        margin-right: 3vw;
    }

    .formacao-item-titulo {
        font-size: 5vw;
        font-weight: 100;
    }

    .formacao-item-curso {
        font-family: Inter, Roboto, Helvetica Neue, sans-serif;
        font-size: 4.3vw;
        font-weight: 300;
        margin-top: 0.1vw;
    }

    .formacao-item-periodo {
        font-family: Inter, Roboto, Helvetica Neue, sans-serif;
        font-size: 4.3vw;
        font-weight: 500;
        color: #4E98CD;
    }

    .cursos {
        margin-top: 2vw;
    }

    .cursos-item {
        margin-top: 8vw;
        margin-left: 0;
        color: #D9D9D9;
    }

    .cursos-item-titulo {
        font-family: Uber, Roboto, Helvetica Neue, sans-serif;
        font-size: 6vw;
        font-weight: 100;
        color: #D9D9D9;
    }

    .cursos-item-curso {
        font-size: 6vw;
        font-weight: 300;
        margin-top: 2vw;
    }

    .cursos-item-periodo {
        font-size: 5vw;
        font-weight: 500;
        margin-top: 2vw;
        color: #4E98CD;
    }

    .carreira-right {
        width: 90%;
        padding-left: 5%;
    }

    .experiencia-titulo {
        font-size: 7vw;
        margin-top: 10%;
        margin-left: 0;
        font-weight: 100;
        margin-bottom: -1vw;
        color: #fff;
    }

    .experiencia-item {
        margin-top: 7vw;
        margin-left: 0;
        color: #D9D9D9;
    }

    .experiencia-item-titulo {
        font-family: Roboto, Helvetica Neue, sans-serif;
        font-size: 5vw;
        font-weight: 500;
        color: #D9D9D9;
    }

    .experiencia-item-curso {
        font-family: Inter, Roboto, Helvetica Neue, sans-serif;
        font-size: 4.5vw;
        font-weight: 300;
        margin-top: 1.5vw;
    }

    .experiencia-item-periodo {
        font-family: Inter, Roboto, Helvetica Neue, sans-serif;
        font-size: 4.5vw;
        font-weight: 500;
        margin-top: 2vw;
        color: #4E98CD;
    }

    .experiencia-item-descricao {
        font-size: 4.5vw;
        margin-top: 2vw;
    }

    /*-----------footer-----------*/

    .s-footer {
        text-align: center;
        width: 100%;
        margin-top: 13vw;
    }

    .footer-legenda {
        background-color: #03141B;
        font-size: 4vw;
        padding: 4vw;
        font-family: Inter, Roboto, Helvetica Neue, sans-serif;
        font-weight: 300;

    }

    .footer-legenda a {
        color: #4E98CD;
        text-decoration: none;
    }

    .footer-frase {
        padding-top: 4vw;
        padding-bottom: 6vw;
        font-size: 4.5vw;
        background-color: #00223A;
        font-family: Dancing Script, Roboto, Helvetica Neue, sans-serif;
    }

    .footer-frase b {
        font-size: 5vw;
        font-family: Helvetica Neue, sans-serif;

    }

}