.projetos-carousel {
  width: 100%;
  padding: 3vw 0;
  display: flex;
  justify-content: center;
  margin-top: -1vw;
}

#principal {
  height: 25vw;
  width: 25vw;
  border-radius: 5px;
  z-index: 1;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

#leftItem {
  height: 10vw;
  width: 5vw;
  opacity: 0.2;
  border-radius: 5px 0 0 5px;
}

#leftPrev {
  height: 15vw;
  width: 15vw;
  opacity: 0.5;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}

#rightPrev {
  height: 15vw;
  width: 15vw;
  opacity: 0.5;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

#rightItem {
  height: 10vw;
  width: 5vw;
  opacity: 0.2;
  border-radius: 0 5px 5px 0;
}

.projeto-principal-conteudo {
  height: 25vw;
  width: 25vw;
  background-color: #000000e3;
  transition: 0.3s;
  opacity: 0;

}

.projeto-principal-titulo {
  width: 100%;
  color: #BAD2E3;
  text-align: center;
  font-family: Uber, Roboto, Helvetica Neue, sans-serif;
  font-size: 1.3vw;
  font-weight: 100;
  margin-top: 1.5vw;
}

.projeto-principal-texto {
  margin: 1.3vw 2vw;
  font-family: Inter, Roboto, Helvetica Neue, sans-serif;
  font-size: 0.9vw;
}

#link-repositorio {
  margin-top: -3vw;
  width: 13vw;
  padding: 0.5vw 1.5vw;
  background-color: transparent;
  color: #BAD2E3;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 0.8vw;
  text-align: center;
  border-radius: 3px;
  border: 2px solid #BAD2E3;
  text-decoration: none;
  text-shadow: 1px 0px 3px #000;
  transition: 0.3s;
  opacity: 0;
}

#link-repositorio:hover {
  background-color: #12506855;
  border-color: #fff;
  color: #fff;
}

#principal:hover {
  transform: scale(1.1);
}



#leftPrev:hover {
  opacity: 1;
}

#rightPrev:hover {
  opacity: 1;
}

.item-geral {
  background-size: cover;
  margin: auto 0;
  transition: all 0.5s;
}

#navLeft {
  margin-top: 1%;
}

#navRight {
  right: 10%;
}

#linkTag {
  cursor: pointer;
  z-index: 1;
  box-sizing: border-box;
}


.projetos-sliders{
  display: none;
}

@media only screen and (min-width: 500px){
  #principal:hover .projeto-principal-conteudo {
  opacity: 1;
}#principal:hover #link-repositorio{
  opacity: 1;
}
}


@media only screen and (max-width: 500px) {
  

  .projetos-carousel {
    width: 100%;
    padding: 8vw 0;
    display: flex;
    justify-content: center;
    margin-top: 0;
  }

  #principal {
    height: 82vw;
    width: 80vw;
    margin-left: -33vw;
    margin-right: -33vw;
  }
  #principal:hover {
    transform: scale(1.0);
  }
  
  #leftItem,#rightItem  {
    display: none;
  }

  #leftPrev,#rightPrev {
    height: 45vw;
    width: 40vw;
  }

  .projeto-principal-conteudo {
    height: 101%;
    width: 101%;
    background-color: #000000e3;
    transition: 0.3s;
    opacity: 0;
  }

  .projeto-principal-titulo {
    width: 100%;
    color: #BAD2E3;
    text-align: center;
    font-family: Uber, Roboto, Helvetica Neue, sans-serif;
    font-size: 5vw;
    font-weight: 100;
    margin-top: 2vw;
  }

  .projeto-principal-texto {
    margin: 1.3vw 2vw;
    font-family: Inter, Roboto, Helvetica Neue, sans-serif;
    font-size: 3.5vw;
  }


  #link-repositorio {
    margin-top: -7vw;
    width: 40vw;
    padding: 0.5vw 1.5vw;
    background-color: transparent;
    color: #BAD2E3;
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 4vw;
    font-weight: 400;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #BAD2E3;
    text-decoration: none;
    text-shadow: 1px 0px 3px #000;
    opacity: 0;
  }

  .projetos-sliders{
    display: block;
    display: flex;
    justify-content: center;
    margin-top: 0;
  }
  .projetos-sliders button{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border: 0;
    border-radius: 50%;
    padding: 10px 12px;
    font-size: 8vw;
    margin: 0 10vw;
    background-color: #7fffd41b;
  }

}